@keyframes "spaceman-bounce" {
    0% {
        margin-top: 10px
    }

    50% {
        margin-top: -15px
    }

    100% {
        margin-top: 6px
    }
}

@-moz-keyframes spaceman-bounce {
    0% {
        margin-top: 10px
    }

    50% {
        margin-top: -15px
    }

    100% {
        margin-top: 6px
    }
}

@-webkit-keyframes "spaceman-bounce" {
    0% {
        margin-top: 10px
    }

    50% {
        margin-top: -15px
    }

    100% {
        margin-top: 6px
    }
}

@-ms-keyframes "spaceman-bounce" {
    0% {
        margin-top: 10px
    }

    50% {
        margin-top: -15px
    }

    100% {
        margin-top: 6px
    }
}

@-o-keyframes "spaceman-bounce" {
    0% {
        margin-top: 10px
    }

    50% {
        margin-top: -15px
    }

    100% {
        margin-top: 6px
    }
}

.spacesuit {
    -webkit-animation-name: spaceman-bounce!important;
    -moz-animation-name: spaceman-bounce!important;
    -ms-animation-name: spaceman-bounce!important;
    -o-animation-name: spaceman-bounce!important;
    /* animation-name:spaceman-bounce; */
    -webkit-animation-duration: 2.5s!important;
    -moz-animation-duration: 2.5s!important;
    -ms-animation-duration: 2.5s!important;
    -o-animation-duration: 2.5s!important;
    animation-duration: 2.5s!important;
    -webkit-animation-timing-function: ease-in-out!important;
    -moz-animation-timing-function: ease-in-out!important;
    -ms-animation-timing-function: ease-in-out!important;
    -o-animation-timing-function: ease-in-out!important;
    animation-timing-function: ease-in-out!important;
    -webkit-animation-delay: 0.5s!important;
    -moz-animation-delay: 0.5s!important;
    -ms-animation-delay: 0.5s!important;
    -o-animation-delay: 0.5s!important;
    animation-delay: 0.5s!important;
    -webkit-animation-iteration-count: infinite!important;
    -moz-animation-iteration-count: infinite!important;
    -ms-animation-iteration-count: infinite!important;
    -o-animation-iteration-count: infinite!important;
    animation-iteration-count: infinite!important;
    -webkit-animation-direction: alternate!important;
}