.header {
	background: #8cc9dc;
	height: 162px;
	box-sizing: border-box;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: flex-end;
    -ms-flex-line-pack: end;
    align-content: flex-end;
    -webkit-box-align: end;
    -moz-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
}

.header img.avatar {
	width: 10%;
	border-radius: 100%;
	background: #ffffff;
	opacity: 1;
}

.header img.avatar:hover{
	opacity: 1!important; /* ovveride skrollr css*/
	cursor: pointer;
}
.header-avatar {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    height: 100%;
    margin-right: 1em;
}

.header-content {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    display: flex;
    align-items: center;
    align-content: center;

    height: 100%;
    margin-right: 1em;
}

.header-menu {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: center;

    height: 100%;
}

.header-menu .menu-button {
	background: none;
	border: none;
	font-size: 2em;
	font-weight: bolder;
    height: 40px;
    line-height: 40px;
    width: 40px;
	display: inline-block;
	color: #ffffff;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    box-sizing: border-box;
    cursor: pointer;
    border: 1px solid transparent;
    outline:none;
    margin: 5px .5em 5px .5em;
}

.menu-button:hover {
	box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 0 0 1px rgba(0, 0, 0, 0.1);
}