*{
	margin:0;
	padding:0;
}

html, body{
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Amaranth', sans-serif;
	background: #363f45;
}
.float-left {
	float: left;
}

.float-right {
	float: right;
}

.container {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	background: #354250;
	box-sizing: content-box;
    -webkit-transition: all .5s;
    transition: all .5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    transition-delay: .4s;
    -webkit-transition-delay: .4s;
}

.perspective {
   -webkit-perspective: 500px; /* Chrome, Safari, Opera */
    perspective: 500px;
}

.perspective .start-wars-text {
    -webkit-transform: rotateX(23deg); /* Chrome, Safari, Opera  */
    transform: rotateX(23deg);
}

.scene-container {
	width: 100%;
	height: 100%;
}

.scene-2 .scene-2-bg {
	height: 100%;
	background: #4a4a4a;
}